/* Estilos globales  ------------------------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Sansita:wght@400;700;800&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Sansita', sans-serif;
}
:root {
    --grey: rgb(46, 46, 46);
    --pink4: #4f233f;
    --pink3: #7D3A61;
    --pink2: #9A4B8C;
    --pink1: #e4d1e1;
    --white: #E0E2E1;
    --green: #84AF8B;
    --green2: #2E7A45;
    --green3: #275731;
    --green4: #253828;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    text-align: center;
    margin: 0;
    min-height: 100vh;
    position: relative;
    background-color: var(--green);
}

main{
    position: relative;
}

h1, h2, h3 {
    font-family: "Times New Roman", Times, serif;
}

/* Estilos globales - Header*/
header{
    min-width: 100vw;
    position: relative;
    height: auto;
    background-color: var(--green3);
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

li {
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: var(--green3);
    align-items: center;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    width: 30px;
    color: var(--white);
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Inter', sans-serif;
}
nav a:hover{
    color:rgb(161, 183, 161);
    
}


/* Estilos globales - Footer*/
footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Calibri, sans-serif;
    font-weight: bolder
}
footer a{
    text-decoration: none;
    width: 30px;
    font-weight: bolder;
}
footer{
    display: block;
    padding: 14px;
    background-color: rgb(66, 65, 65);
    color: var(--white);
    text-align: center;
    border-style: none;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uade{
    color: var(--white);
}

.piePagina {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.logoFooter{
    margin-top: 8px;
    width: 50px;
    height: 18px;
}

/* Index */

.info{
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 15px;
    height: 450px;
    width: 40%;
    background-color: var(--white);
    margin-left: 30%;
    color: var(--pink3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 70px;
    text-indent: 30px;
}

#datosEquipo{
    color: var(--pink4);
    font-weight: bolder;
    font-size: 35px;
    align-self: center;
    font-family: 'Inter', sans-serif;
}

.info p, h2{
    font-size: 25px;
    font-weight:700;
    font-family: 'Sansita', sans-serif;
}

/* Integrantes */
.contenedorIntegrantes{
    display: flex;
    justify-content: center;
    margin-top: 110px;
    gap: 90px;
    margin-bottom: 30px;
    font-size: 20px;
}

.perfilCv a{
    text-decoration: none;
    font-weight: bold;
    color: var(--green4);
}

.perfilCv p{
    color:var(--green3);
    font-weight: bold;
}

#contenedorCv a{
    display: flex;
    justify-content: space-around;
}

.fotosPerfil{
    width: 200px;
    height: 200px;
}

/* Avances */

.contenedorAvances{
    display: flex;
    width: 100vw;
    flex-direction: column;
    margin-bottom: 50px;
    background-color: var(--white);
}

.bloqueParrafos{
    background-color: var(--green);
    height: fit-content;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 45px;
    color: var(--grey);
    margin-left: 60px;
}

.bloqueParrafos p{
    width: 80%;
}

.bloqueParrafos ul{
    list-style: none;
}

.bloqueParrafos li{
    padding: 7px;
    font-size: large;
    line-height: 25px;
}

.logos{
    display: flex;
    flex-direction: row;
}

.tituloAvance{
    margin-top: 20px;
}

.coloresPaleta{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.imgColorPaleta{
    margin: 10px;
    height: 200px;
    width: 200px;
}

.logoEcoTravel{
    height: 400px;
    width: 450px;
}

.iconEcoTravel{
    height: 50px;
    width: 120px;
}

.pregunta{
    font-weight: bolder;
    font-size: 23px;
    margin-top: 40px;
}

.respuesta{
    text-align: center;
    font-size: 20px;
}

.linkFigma{
    text-decoration: none;
    color: var(--green4);
}

.roles{
    margin-bottom: 50px;
}

.roles ul{
    list-style: none;
}

/* Proyecto */

.contenedorProyecto{
    display: flex;
    background-color: var(--white);
    width: 100vw;
}

.bloqueGris{
    width: 200%;
    height: 600px;
    background-image: url("assets/mundo-verde.jpg");
}

#encabezadoIdeas{
    color: var(--pink3);
    margin-top: 55px;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}

.bloqueIdeas{
    display: flex;
    flex-direction: column;
}

.bloqueTexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    position: relative;
    gap: 25px;
    color: var(--pink2);
    font-size: 22px;
    text-align: justify;
    padding-left: 50px;
    padding-right: 40px;
    line-height: 33px;
    font-family: 'sansita one';
}

.idea1 {
    font-weight: bold;
    text-decoration: underline;
}

/* Sitio */
.contenedorSitio{
    width: 100%;
    height: 100%;
}

.contenedorSitio h2{
    margin-top: 10px;
    margin-bottom: 15px;
    
}

.linkgrupal{
    text-decoration: none;
    color: var(--pink4);
    font-weight: 600;
    font-size: 22px;
    margin-top: 40;

}

.tituloSitio{
    font-size: 29px;
    color: var(--green4);
}

.divlink{
    margin-top: 20px;
}

/* Media Queries*/
@media (min-width:601px){
    nav label{
        display: none;
    }

    .menuDisplay{
        display: none;
    }
}

@media (max-width:600px){
    /*Header responsive*/
    #menu, label{
        display: none;
    }

    header{
        margin: 0;
    }

    nav{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-left: 40px;
        margin-right: 20px;
        margin-top: 0px;
    }

    nav label{
        margin-top: 0px;
    }
    
    input:checked ~ li{
        display: block;
    }

    input:checked ~ label{
        margin-top: 19px;
        z-index: 100;
    }

    .listaNav li{
        margin: 0;
        display: none;
    }

    .listaNav{
        display: none;
        margin-left: 0px;
    }

    label{
        box-sizing: border-box;
        display: block;
        font-size: 25px;
        width: 30px;
        height: 30px;
        color: var(--green);
        margin-top: 20px;
        line-height: 30px;
    }

    .menuDisplay{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    
    .menuDisplay a{
        color: var(--green);
        text-decoration: none;
    }

    .menuDisplay{
        display: none;
    }


    #menu:checked + label + .menuDisplay {
        display: block;
    }

    .menuIcon {
        cursor: pointer;
    }

    /*Footer responsive*/
    footer{
        position: fixed;
    }

    .piePagina{
        width: 100%;
        font-size: 14px;
    }

    /*Index responsive*/
    .info{
        margin-top: 70px;
        margin-bottom: 0px;
        margin-left: 20px;
        margin-right: 20px;
        width: inherit;
        padding: 15px;
        height: 450px;
        background-color: var(--pink1);
        color: var(--pink3);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        line-height: 70px;
    }

    .info p{
        font-size: 20px;
        font-weight: bolder;
    }

    /*Integrantes responsive*/

    .contenedorIntegrantes{
        margin-top: 40px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
    }

    /*Proyecto responsive*/
    
    #encabezadoIdeas{
        margin-top: 30px;
    }

    .contenedorProyecto{
        height: 100vh;
        flex-direction: column;
        width: 100%;
    }

    .bloqueGris{
        display: none;
    }

    .bloqueTexto{
        line-height: 25px;
    }
    .bloqueTexto p{
        margin-top: 0px;
        font-size: 1.2rem;
    }
    
    /*Avances responsive*/
    
    .mainAvances{
        width: 100vw;
        background-color: var(--white);
    }
    
    .contenedorAvances{
        flex-direction: column;
        width: 100%;
    }

    .bloqueParrafos{
        height: fit-content;
    }

    .arbolSitio{
        margin-top: 15px;
        width: 300px;
        height: 300px;
    }

    .coloresPaleta{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .imgColorPaleta{
        margin: 10px;
        height: 200px;
        width: 200px;
    }

    .rgb{
        margin-left: 20px;
    }

    .logoEcoTravel{
        height: 300px;
        width: 350px;
    }

    .iconEcoTravel{
        height: 25px;
        width: 60px;
    }

    /*Sitio responsive*/


}

#menu{
    display: none;
}