/* Estilos globales  ------------------------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Sansita:wght@400;700;800&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Sansita', sans-serif;
}
:root {
    --primary: #DDC7AF;
    --secondary: #006400;
    --app-grey: #D9D9D9;
    --brown: #713905;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--grey);
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    text-align: center;
    margin: 0;

    min-height: 100vh;
    position: relative;
}

h1, h2, h3 {
    font-family: "Times New Roman", Times, serif;
}

main{
    position: relative;
}

/* Estilos globales - Barra de navegacion*/
header{
    min-width: 100vw;
    position: relative;
    height: auto;
    font-family: 'Inter', sans-serif;
    
    background-color: var(--primary);
    border-bottom: 1px solid rgb(214, 214, 214);
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 230px;
    font-family: Calibri, sans-serif;
}

li {
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid rgb(214, 214, 214);
    background-color: var(--primary);
    align-items: center;
    justify-content: space-around;
}

.info{
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 15px;
    height: 450px;
    width: 70%;
    background-color: var(--primary);
    margin-left: 235px;
    color: var(--brown);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 70px;
    text-indent: 30px;
}

#datosEquipo{
    color: var(--secondary);
    font-weight: 900;
    align-self: center;
}

.info p,h2{
    font-size: 35px;
    font-weight: bolder;
}

nav a{
    text-decoration: none;
    width: 30px;
    color: var(--secondary);
    font-size: 25px;
    font-weight: bolder;
    font-family: inter; /*Poner tipografiaaaaaa*/
    text-decoration: underline; /*La linea es mas ancha*/
}
.contenedorIntegrantes{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 60px;
}

.perfilCv a{
    text-decoration: none;
    color: var(--secondary);
}

.perfilCv p{
    color: var(--brown);
}





#contenedorCv a{
    display: flex;
    justify-content: space-around;
}
.fotosPerfil{
    width: 200px;
    height: 200px;
}
.contenedorAvances{
    display: flex;
}
.contenedorParrafos{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bloqueParrafos{
    background-color: var(--primary);
    height: 160px;
    margin: 10px;
    padding: 19px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    line-height: 28px;
    color: var(--brown);
}
.pregunta{
    font-weight: bolder;
    font-size: 23px;
}
.respuesta{
    text-align: justify;
    font-size: 20px;
}
.contenedorProyecto{
    display: flex;
}
.bloqueGris{
    background-color: var(--app-grey);
    width: 120%;
    height: 600px;
}
.bloqueGris p{
    margin-top: 80%;
    font-size: 25px;
    color: var(--brown);
    font-weight: bold;
}
#encabezadoIdeas{
    color: var(--brown);
    margin-top: 22px;
}
.bloqueIdeas{
    display: flex;
    flex-direction: column;
}
.bloqueTexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    position: relative;


    gap: 55px;
    color: var(--brown);
    font-size: 22px;
    text-align: justify;
    padding-left: 50px;
    padding-right: 25px;
    font-family: 'sansita one';
}
.idea1 , .idea2{
    font-weight: bold;
    text-decoration: underline;
}
.avanceConstruccion{
    margin-top: 45px;
    width: 500px;
    height: 439px;
}
.sitioConstruccion{
    margin-top: 80px;
    width: 800px;
    height: 409px;
}
/* Estilos globales - Footer*/
footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-family: Calibri, sans-serif;
    font-weight: bolder
}
footer a{
    text-decoration: none;
    width: 30px;
    color: var(--secondary);
    font-weight: bolder;
}
footer{
    display: block;
    padding: 14px;
    background-color: var(--app-grey);
    color: var(--secondary);
    text-align: center;
    border-style: none;
    
    position: fixed;

    bottom: 0;
    width: 100vw;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piePagina {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

@media (min-width:600px){
    nav label{
        display: none;
    }
}

@media (max-width:600px){
    #menu, label{
        display: none;
    }

    footer{
        position: fixed;
    }

    .contenedorIntegrantes{
        margin-bottom: 100px;
    }

    .contenedorProyecto{
        height: 100vh;
        flex-direction: column;
        
    }

    .bloqueGris{
        display: none;
    }

    .bloqueTexto p{
        font-size: 1rem;
    }

    .contenedorAvances{
        flex-direction: column;
        align-items: center;
    }

    .bloqueParrafos{
        height: fit-content;
    }

    .contenedorParrafos{
        margin-top: 30px;
        margin-bottom: 200px;
    }

    .sitioConstruccion{
        height: 200px;
    }

    .info{
        margin-top: 70px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        width: inherit;
    
        padding: 15px;
        height: 450px;
        background-color: var(--primary);
        color: var(--brown);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        line-height: 70px;
    }

    
    .info p{
        font-size: 25px;
        font-weight: bolder;
    }

    header{
        margin: 0;
    }
    nav{
        display: flex;
        justify-content: flex-end;
        margin-left: 40px;
        margin-right: 20px;
        margin-top: none;
    }

    nav label{
        margin-top: 0px;
    }
    /*.navBarResponsive{
        display: flex;
        height: 100vh;
        width: 420px;
        margin-left: 30%;
        margin-top: 19px;
        background-color: rgb(112, 46, 112);
        position: fixed;
    }
    */
    input:checked ~ li{
        display: block;
    }
    input:checked ~ label{
        background-color: var(--brown);
        height: 100vh;
        width: 700px;
        z-index: 100;
    }
    label:hover{
        background-color: gray;
    }
    .listaNav li{
        margin: 0;
        display: none;
    }
    label{
        box-sizing: border-box;
        display: block;
        font-size: 25px;
        width: 30px;
        height: 30px;
        color: white;
        margin-top: 20px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
    }
    .listaNav{
        display: none;
    }
    .sitioConstruccion{
        margin-top: 80px;
        width: 500px;
        height: 209px;
    }
    
    
}

#menu{
    display: none;
}