/* Estilos globales  ------------------------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Sansita:wght@400;700;800&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Sansita', sans-serif;
}
:root {
    --primary: rgb(109, 136, 109);
    --secondary: #023907;
    --white: #D9D9D9;
    --green: #3c573c;
    --grey: rgb(46, 46, 46);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    text-align: center;
    margin: 0;

    min-height: 100vh;
    position: relative;
}

h1, h2, h3 {
    font-family: "Times New Roman", Times, serif;
}

main{
    position: relative;
}

/* Estilos globales - Barra de navegacion*/
header{
    min-width: 100vw;
    position: relative;
    height: auto;
    font-family: 'Inter', sans-serif;
    background-color: var(--primary);
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: Calibri, sans-serif;
}

li {
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: var(--primary);
    align-items: center;
    justify-content: space-around;
}

.info{
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 15px;
    height: 450px;
    width: 70%;
    background-color: var(--primary);
    margin-left: 235px;
    color: var(--green);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 70px;
    text-indent: 30px;
}

#datosEquipo{
    color: var(--secondary);
    font-weight: 900;
    align-self: center;
}

.info p,h2{
    font-size: 35px;
    font-weight: bolder;
}

nav a{
    text-decoration: none;
    width: 30px;
    color: var(--secondary);
    font-size: 25px;
    font-weight: bolder;
    font-family: inter; /*Poner tipografiaaaaaa*/
}
nav a:hover{
    color:rgb(161, 183, 161);
    
}
.contenedorIntegrantes{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 90px;
    margin-bottom: 30px;
}

.perfilCv a{
    text-decoration: none;
    color: var(--secondary);
}

.perfilCv p{
    color: rgb(158, 180, 158);
}





#contenedorCv a{
    display: flex;
    justify-content: space-around;
}
.fotosPerfil{
    width: 200px;
    height: 200px;
}
.contenedorAvances{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.bloqueParrafos{
    background-color: var(--primary);
    height: fit-content;
    margin: 30px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 45px;
    color: var(--grey);
    margin-left: 60px;
}
.bloqueParrafos p{
    width: 80%;
}
.bloqueParrafos ul{
    list-style: none;
}
.bloqueParrafos li{
    padding: 7px;
    font-size: large;
    line-height: 25px;
}
.logos{
    display: flex;
    flex-direction: row;
}
.tituloAvance{
    margin-top: 20px;
}
.coloresPaleta{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.imgColorPaleta{
    margin: 10px;
    height: 200px;
    width: 200px;
}
.logoEcoTravel{
    height: 400px;
    width: 450px;
}
.iconEcoTravel{
    height: 100px;
    width: 100px;
}
.pregunta{
    font-weight: bolder;
    font-size: 23px;
    margin-top: 40px;
}
.respuesta{
    text-align: center;
    font-size: 20px;
}
.linkFigma{
    text-decoration: none;
    color: var(--green);
}
.roles{
    margin-bottom: 50px;
}
.roles ul{
    list-style: none;
}
.contenedorProyecto{
    display: flex;
}
.bloqueGris{
    background-color: var(--white);
    width: 120%;
    height: 600px;
}
.bloqueGris {
    background-image: url("assets/mundo-verde.jpg");
}
#encabezadoIdeas{
    color: var(--green);
    margin-top: 42px;
}
.bloqueIdeas{
    display: flex;
    flex-direction: column;
}
.bloqueTexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
    position: relative;
    
    gap: 55px;
    color: var(--green);
    font-size: 22px;
    text-align: justify;
    padding-left: 50px;
    padding-right: 25px;
    font-family: 'sansita one';
}
.idea1 {
    font-weight: bold;
    text-decoration: underline;
}
.avanceConstruccion{
    margin-top: 45px;
    width: 500px;
    height: 439px;
}
.sitioConstruccion{
    margin-top: 80px;
    width: 800px;
    height: 409px;
}
/* Estilos globales - Footer*/
footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-family: Calibri, sans-serif;
    font-weight: bolder
}
footer a{
    text-decoration: none;
    width: 30px;
    color: var(--secondary);
    font-weight: bolder;
}
footer{
    display: block;
    padding: 14px;
    background-color: var(--white);
    color: var(--secondary);
    text-align: center;
    border-style: none;
    position: fixed;

    bottom: 0;
    width: 100vw;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piePagina {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

@media (min-width:601px){
    nav label{
        display: none;
    }

    .menuDisplay{
        display: none;
    }
}

@media (max-width:600px){
    #menu, label{
        display: none;
    }

    footer{
        position: fixed;
    }

    .contenedorIntegrantes{
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
    }

    .contenedorProyecto{
        height: 100vh;
        flex-direction: column;
        
    }

    .bloqueGris{
        display: none;
    }

    .bloqueTexto p{
        font-size: 1rem;
    }

    .contenedorAvances{
        flex-direction: column;
        align-items: center;
    }

    .bloqueParrafos{
        height: fit-content;
    }

    .arbolSitio{
        width: 500px;
        height: 500px;
    }

    .logoEcoTravel{
        height: 300px;
        width: 350px;
    }

    .iconEcoTravel{
        height: 60px;
        width: 60px;
    }

    .sitioConstruccion{
        height: 200px;
    }

    .info{
        margin-top: 70px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        width: inherit;
    
        padding: 15px;
        height: 450px;
        background-color: var(--primary);
        color: var(--green);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        line-height: 70px;
    }

    
    .info p{
        font-size: 25px;
        font-weight: bolder;
    }

    header{
        margin: 0;
    }

    nav{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-left: 40px;
        margin-right: 20px;
        margin-top: 0px;
    }

    nav label{
        margin-top: 0px;
    }
    
    input:checked ~ li{
        display: block;
    }
    input:checked ~ label{
        background-color: var(--primary);
        margin-top: 19px;
        z-index: 100;
    }
    label:hover{
        background-color: gray;
    }
    .listaNav li{
        margin: 0;
        display: none;
    }
    label{
        box-sizing: border-box;
        display: block;
        font-size: 25px;
        width: 30px;
        height: 30px;
        color: var(--green);
        margin-top: 20px;
        line-height: 30px;
    }

    .piePagina{
        width: 100%;
        font-size: 14px;
    }

    .listaNav{
        display: none;
        margin-left: 0px;
    }
    .sitioConstruccion{
        margin-top: 240px;
        width: 500px;
        height: 209px;
    }
    
    .menuDisplay{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-left: 0px;
    }
    
    .menuDisplay a{
        color: var(--green);
        text-decoration: none;

    }

    .menuDisplay{
        display: none;
    }


    #menu:checked + label + .menuDisplay {
        display: block;
    }

    .menuIcon {
        cursor: pointer;
    }
}

#menu{
    display: none;
}