/* Estilos globales  ------------------------------------------------------------------------------------------------------------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', 'Sansita', 'Santita-one';
}
:root {
    --primary: #DDC7AF;
    --secondary: #006400;
    --app-grey: #D9D9D9;
    --brown: #713905;
}
  

body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: var(--grey);
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    text-align: center;
    margin: 0;
}

h1, h2, h3 {
    font-family: "Times New Roman", Times, serif;
}

/* Estilos globales - Barra de navegacion*/
header{
    position: sticky;
    top: 0px;
    z-index: 10;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-family: Calibri, sans-serif;
}

li {
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid rgb(214, 214, 214);
    background-color: var(--primary);
    align-items: center;
    justify-content: space-around;
}

.info{
    margin: 100px;
    padding: 15px;
    background-color: var(--primary);
    color: var(--brown);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#datosEquipo{
    color: var(--secondary);
    font-weight: 900;
    align-self: center;
}

.info p,h2{
    font-size: 25px;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: black;
}

.fotosPerfil{
    width: 200px;
    height: 200px;
}

/* Estilos globales - Footer*/
footer{
    display: block;
    height: 60px;
    padding: 14px;
    background-color: var(--app-grey);
    color: var(--secondary);
    text-align: center;
    border-style: none;
    

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.piePagina {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}